.btn-primary {
    color: #FFF;
    background: #13335F;
    border:  #13335F;
    font-weight: 400;
    border: 1px solid #13335F;
    margin: 0.2rem;
}

.btn-primary:hover{
    background: #13335F;
    color: #FFF;
    font-weight: 400;
    border: 1px solid #13335F;
}