* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

a{
    text-decoration: none;
    color: #000;
}

.logo {
    max-width: 180px;
}


.header_title {
    color: #090b17;
    font-family: 'Circular Std', sans-serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 auto;
}

.header_paragraph {
    color: #676e8b;
    font-family: 'Circular Std', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px;
}




